@model Harbor.Models.ContainerModel

@{
    ViewData["Title"] = "Remover container";
}

<br />
<h1>Remover container</h1>

<h3>Tem certeza que quer remover esse container?</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdContainer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdContainer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroContainer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroContainer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdContainer" />
        <input type="submit" value="Remover" class="btn btn-danger" />
        <a type="button" class="btn btn-primary" asp-action="Index">Voltrar para a página inicial</a>
    </form>
</div>
